/* 组件样式 */

/* Header */
.header-nav.active {
  @apply bg-transparent hover:bg-[rgba(255,255,255,0.7)] dark:hover:bg-[rgba(38,38,38,0.7)];
}

.header-nav .nav-item:hover .icon-1 {
  -webkit-animation: shake-lr 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-lr 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.header-nav .nav-item:hover .icon-2 {
  -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.header-nav .nav-item:hover .icon-3 {
  -webkit-animation: shake-vertical 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-vertical 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.header-nav .nav-item:hover .icon-4 {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}

/* BackTop */
.back-top {
  width: 70px;
  height: 900px;
  position: fixed;
  right: 25px;
  top: -910px;
  z-index: 49;
  background: url(../img/scroll.png) no-repeat center;
  background-size: contain;
  animation: bounce-slow 3s linear infinite;
  -webkit-animation: bounce-slow 3s linear infinite;
}

/* MbHeader */
.mb-deader-menu::-webkit-scrollbar {
  display: none;
}
.mb-deader-menu .mb-menu .router-link-active {
  @apply rounded-xl bg-cyan-500 text-white shadow-lg shadow-cyan-500/50 dark:bg-indigo-500 dark:shadow-indigo-500/50;
}

/* Waves */
.waves {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 12vh;
  min-height: 3.125rem;
  max-height: 9.375rem;
  z-index: 1;
}
.waves .parallax .use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.waves .parallax .use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.waves .parallax .use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.waves .parallax .use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.waves .parallax .use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
/* 波浪动画 */
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@media (max-width: 768px) {
  .waves {
    height: 10vh;
    min-height: 10vh;
  }
}

/* comment input */
/* .comment_textarea textarea {
  background: url(../img/comment.png) no-repeat bottom right;
  background-size: 35%;
} */

/* home background */
#headertop .headertop-bg {
  background-image: url(https://www.loliapi.com/acg);
}
#headertop:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-attachment: fixed;
  z-index: 9;
}
#headertop.pattern-center {
  animation: header 1s;
}
#headertop.filter-undertint:before {
  background-color: rgba(255, 255, 255, 0.3);
}
#headertop.filter-dim:before {
  background-color: rgba(0, 0, 0, 0.3);
}
#headertop.filter-grid:before {
  background-image: url(../img/grid.webp);
}
#headertop.filter-dot:before {
  background-image: url(../img/dot.webp);
}
#headertop .centerbg-info {
  position: relative;
}
#headertop .centerbg-info::before {
  content: '';
  position: absolute;
  top: -30px;
  left: 20%;
  margin-left: -15px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
}

/* post toc */
.toc-nav ul li.active {
  @apply text-orange-500 dark:text-[#007fff];
}

/* home  postItem */
.post__list.active {
  @apply flex-row-reverse;
}
.post__list.active .post__list__content {
  @apply text-left;
}
.post__list.active .post__list__content .content-top {
  @apply flex-row-reverse;
}
.post__list.active .post__list__content .content-info {
  @apply justify-start;
}
.post__list.active .post__list__content .content-ellipsis {
  @apply justify-start;
}

/* archives list */
#archives .arrow-left-ar {
  border-left: 20px solid transparent;
  border-bottom: 20px solid #f5f5f5;
}

/* html.dark #archives .arrow-left-ar {
  border-left: 20px solid transparent;
  border-bottom: 20px solid #b6cbfd;
} */

/* post article */
.markdown-body img {
  cursor: zoom-in;
}

/* 添加行号样式 */
pre.hljs {
  padding: 20px 2px 12px 40px;
  margin: 10px 0;
  border-radius: 5px;
  position: relative;
  font-size: 14px;
  line-height: 22px;
  overflow: hidden;
}
pre.hljs code {
  display: block;
  margin: 0 10px;
  overflow-x: auto;
}
pre.hljs code::-webkit-scrollbar {
  z-index: 11;
  width: 6px;
}
pre.hljs code::-webkit-scrollbar:horizontal {
  height: 6px;
}
pre.hljs code::-webkit-scrollbar-thumb {
  border-radius: 5px;
  width: 6px;
  background: #666;
}
pre.hljs code::-webkit-scrollbar-corner,
pre.hljs code::-webkit-scrollbar-track {
  background: #1e1e1e;
}
pre.hljs code::-webkit-scrollbar-track-piece {
  background: #1e1e1e;
  width: 6px;
}
pre.hljs .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 20px;
  bottom: 12px;
  left: 0;
  font-size: 100%;
  width: 40px;
  text-align: center;
  letter-spacing: -1px;
  border-right: 1px solid rgba(0, 0, 0, 0.66);
  user-select: none;
  counter-reset: linenumber;
}
pre.hljs .line-numbers-rows span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}
pre.hljs .line-numbers-rows span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  text-align: center;
}
pre.hljs b.name {
  position: absolute;
  top: 2px;
  right: 50px;
  z-index: 10;
  color: #999;
  pointer-events: none;
  user-select: none;
}
pre.hljs .copy-btn {
  position: absolute;
  top: 3px;
  right: 10px;
  z-index: 10;
  color: #999;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  user-select: none;
}
pre.hljs .copy-btn:hover {
  color: #7ee787;
}

/* login */
.login .box .form .btn-grad {
  width: 100%;
  background-image: linear-gradient(to right, #e8cbc0 0%, #636fa4 51%, #e8cbc0 100%);
  /* margin: 10px; */
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.login .box .form .btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* base loading */
#loading {
  @apply bg-[#f9f9f9] dark:bg-[#222222];
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #f9f9f9; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.mg-loading {
  position: relative;
  width: 50px;
  perspective: 200px;
}

.mg-loading:after,
.mg-loading:before {
  position: absolute;
  width: 20px;
  height: 20px;
  content: '';
  -webkit-animation: jumping 0.5s infinite alternate;
  animation: jumping 0.5s infinite alternate;
  background: transparent;
}

.mg-loading:before {
  left: 0;
}

.mg-loading:after {
  right: 0;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

/* live2d */
.k-live2d {
  width: 300px;
  position: fixed;
  bottom: 0;
  /* right: 0; */
  left: 0;
  z-index: 2000;
}
.k-live2d .k-hitokoto {
  top: -80px;
}
.k-live2d .k-live2d__loading {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 25px;
  animation: live2d-loading-rotate 2s linear infinite;
}
.k-live2d .k-live2d__control {
  position: absolute;
  top: 0;
  right: 0.2em;
  z-index: 2;
}
.k-live2d .k-live2d__control svg {
  width: 24px;
  height: 24px;
  margin-bottom: 0.2em;
}
.k-live2d .k-live2d__control i {
  position: relative;
}
.k-live2d .k-live2d__control i:after {
  opacity: 0;
  content: attr(data-tip);
  position: absolute;
  right: 120%;
  top: 0%;
  white-space: nowrap;
  line-height: 1;
  background-color: #303133;
  color: #fff;
  padding: 5px 11px;
  font-size: 12px;
  border-radius: 4px;
}
.k-live2d .k-live2d__control i:hover:after {
  opacity: 1;
}

.k-hitokoto {
  position: absolute;
  top: 0;
  left: 10%;
  z-index: -1;
  width: 80%;
  min-height: 80px;
  background: #fcf8f4;
  padding: 0.8em 1em;
  box-sizing: border-box;
  color: #977962;
  border: 2px solid rgb(236, 203, 180);
  box-shadow: #0000001f 0 1px 6px, #0000001f 0 1px 4px;
  border-radius: 10px;
  animation: hitokoto-rotate 4s ease-in-out 0s infinite alternate;
}
.k-hitokoto:after,
.k-hitokoto:before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: inherit;
  border: 2px solid var(--moving-border-color);
  animation: hitokoto-clippath1 10s infinite linear;
}
.k-hitokoto:before {
  animation: hitokoto-clippath 10s infinite linear;
}
.k-hitokoto .k-hitokoto__info {
  position: relative;
}
.k-hitokoto .k-hitokoto__info .left,
.k-hitokoto .k-hitokoto__info .right {
  position: absolute;
}
.k-hitokoto .k-hitokoto__info .left {
  top: 0;
  left: 0;
}
.k-hitokoto .k-hitokoto__info .right {
  bottom: 0;
  right: 0;
}
.k-hitokoto .k-hitokoto__info .word {
  padding: 10px 20px;
  text-align: center;
}
.k-hitokoto .k-hitokoto__author {
  text-align: right;
  margin-top: 10px;
}
.k-hitokoto .k-hitokoto__like {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
  font-size: 25px;
}
.k-hitokoto .k-hitokoto__like:after {
  content: attr(data-num);
  position: absolute;
  top: -18%;
  right: -30%;
  background: #f04a83;
  width: 1.3em;
  height: 1.3em;
  font-size: 18px;
  border-radius: 50%;
  text-align: center;
  line-height: 1.3em;
  color: #fff;
  transform: scale(0.7);
}
.k-hitokoto:hover {
  z-index: 0;
}
