@tailwind base;
@tailwind components;
@tailwind utilities;

/* 单行省略号 */
.single-line-ellipsis {
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 超二行省略号 */
.multiline-two-ellipsis {
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
/* 超三行省略号 */
.multiline-ellipsis {
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/* @font-face {
  font-family: SmileySans;
  src: url(https://cdn.sakura520.co/static/blog-plugin/font/YSHaoShenTi.ttf);
  font-display: swap;
} */

@font-face {
  font-family: FrederickaTheGreat;
  src: url(https://cdn.sakura520.co/static/blog-plugin/font/FREDERICKATHEGREAT-REGULAR-2.990272de.TTF)
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

body,
html {
  cursor: url(https://cdn.sakura520.co/static/images/x1.cur), auto;
  @apply font-sans;
}

html.light {
  @apply text-[#504e4e];
}

html.dark {
  @apply bg-[#222222] text-[#999999];
}

img {
  display: inline-block;
}

#waifu-tips {
  color: black;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  @apply h-[6px] w-[6px] bg-gray-200 dark:bg-[#202124];
}
::-webkit-scrollbar-track {
  @apply bg-gray-200 dark:bg-[#202124];
}
::-webkit-scrollbar-thumb {
  @apply bg-orange-400 dark:bg-indigo-500;
}
