@tailwind base;
@tailwind components;
@tailwind utilities;

/* 单行省略号 */
.single-line-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 超三行省略号 */
.multiline-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  @apply h-[6px] w-[6px] bg-gray-200 dark:bg-[#1e1e20];
}
::-webkit-scrollbar-track {
  @apply bg-gray-200 dark:bg-[#1e1e20];
}
::-webkit-scrollbar-thumb {
  @apply bg-orange-400 dark:bg-indigo-500;
}

/* 动画类名 */
.tik-tok-shake:hover {
  -webkit-animation: TikTokShake 0.5s linear infinite;
  animation: TikTokShake 0.5s linear infinite;
}

/* TikTok文字抖动效果 */
@keyframes TikTokShake {
  0%,
  100% {
    text-shadow: -1.5px -1.5px 0 #0ff, 1.5px 1.5px 0 #f00;
  }
  25% {
    text-shadow: 1.5px 1.5px 0 #0ff, -1.5px -1.5px 0 #f00;
  }
  50% {
    text-shadow: 1.5px -1.5px 0 #0ff, 1.5px -1.5px 0 #f00;
  }
  75% {
    text-shadow: -1.5px 1.5px 0 #0ff, -1.5px 1.5px 0 #f00;
  }
}
@-webkit-keyframes TikTokShake {
  0%,
  100% {
    text-shadow: -1.5px -1.5px 0 #0ff, 1.5px 1.5px 0 #f00;
  }
  25% {
    text-shadow: 1.5px 1.5px 0 #0ff, -1.5px -1.5px 0 #f00;
  }
  50% {
    text-shadow: 1.5px -1.5px 0 #0ff, 1.5px -1.5px 0 #f00;
  }
  75% {
    text-shadow: -1.5px 1.5px 0 #0ff, -1.5px 1.5px 0 #f00;
  }
}

/* 缓慢的跳动 */
@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(10px);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@-webkit-keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(10px);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
